*{
  box-sizing: border-box;
}
body {
  height: 100%;
}
.container {
  max-width: 1280px;
  margin: 0px auto;
}
.header{
  background-image: url(header.kartinka.png);
  background-repeat: no-repeat;
  width: 40%;
  height: 100vh;
}